{% macro list_post(page) %}
{% set post_url = page.extra.link_to | default(value=page.permalink) %}

<li class="post-item">
  <div class="post-left-meta">
    <time class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</time>
    {% if page.reading_time %}
      <span class="post-reading-time">{{ page.reading_time }} min read</span>
    {% endif %}
  </div>

  <div class="post-right-content">
    <h1 class="post-title">
      <a href="{{ post_url | safe }}">
        {{ page.title }} {% if page.extra.link_to %}↗{% endif %}
      </a>
      {% if page.draft %}
        <span class="draft-label">DRAFT</span>
      {% endif %}
    </h1>

    <div class="post-description">
      {% if page.description %}
        {{ page.description }}
      {% elif page.summary %}
        {{ page.summary | safe }}&hellip;
      {% else %}
        {% set hide_read_more = true %}
      {% endif %}
    </div>

    {% if not hide_read_more %}
      <div class="readmore-container">
        <a class="readmore" href="{{ post_url | safe }}">
          {% if page.extra.link_to %}Read original →{% else %}Read more →{% endif %}
        </a>
      </div>
    {% endif %}
  </div>
</li>
{% endmacro list_post %}

{% macro list_posts(pages) %}
<ul class="post-items">
  {%- for page in pages %}
    {{ post_macros::list_post(page=page) }}
  {% endfor -%}
</ul>
{% endmacro list_posts %}

{% macro page_header(title) %}
{% if title %}
<div class="page-header">{{ title }}</div>
{% endif %}
{% endmacro page_header %}

{% macro site_title() %}
{{ config.title | default(value="Home") }}
{% endmacro %}
